/*
Reacher

### What is Reacher?  Reacher is a backend/API engine for email verification, list hygiene, suppressions, scheduled re-verification, and pipelines. The hosted dashboard is a separate product surface and is not part of this repository.

API version: 4.3.0
Contact: amaury@reacher.email
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reacher

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type QueryAPI interface {

	/*
	V1QueryResults GET /v1/query

	Flexible historical query API for verification results across jobs.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return QueryAPIV1QueryResultsRequest
	*/
	V1QueryResults(ctx context.Context) QueryAPIV1QueryResultsRequest

	// V1QueryResultsExecute executes the request
	V1QueryResultsExecute(r QueryAPIV1QueryResultsRequest) (*http.Response, error)
}

// QueryAPIService QueryAPI service
type QueryAPIService service

type QueryAPIV1QueryResultsRequest struct {
	ctx context.Context
	ApiService QueryAPI
	limit *int64
	offset *int64
	category *string
	minScore *int32
	maxScore *int32
	safeToSend *bool
	jobId *int32
	since *string
	until *string
	recommendationAction *string
	policyMode *string
	policyDecision *string
}

func (r QueryAPIV1QueryResultsRequest) Limit(limit int64) QueryAPIV1QueryResultsRequest {
	r.limit = &limit
	return r
}

func (r QueryAPIV1QueryResultsRequest) Offset(offset int64) QueryAPIV1QueryResultsRequest {
	r.offset = &offset
	return r
}

func (r QueryAPIV1QueryResultsRequest) Category(category string) QueryAPIV1QueryResultsRequest {
	r.category = &category
	return r
}

func (r QueryAPIV1QueryResultsRequest) MinScore(minScore int32) QueryAPIV1QueryResultsRequest {
	r.minScore = &minScore
	return r
}

func (r QueryAPIV1QueryResultsRequest) MaxScore(maxScore int32) QueryAPIV1QueryResultsRequest {
	r.maxScore = &maxScore
	return r
}

func (r QueryAPIV1QueryResultsRequest) SafeToSend(safeToSend bool) QueryAPIV1QueryResultsRequest {
	r.safeToSend = &safeToSend
	return r
}

func (r QueryAPIV1QueryResultsRequest) JobId(jobId int32) QueryAPIV1QueryResultsRequest {
	r.jobId = &jobId
	return r
}

func (r QueryAPIV1QueryResultsRequest) Since(since string) QueryAPIV1QueryResultsRequest {
	r.since = &since
	return r
}

func (r QueryAPIV1QueryResultsRequest) Until(until string) QueryAPIV1QueryResultsRequest {
	r.until = &until
	return r
}

func (r QueryAPIV1QueryResultsRequest) RecommendationAction(recommendationAction string) QueryAPIV1QueryResultsRequest {
	r.recommendationAction = &recommendationAction
	return r
}

func (r QueryAPIV1QueryResultsRequest) PolicyMode(policyMode string) QueryAPIV1QueryResultsRequest {
	r.policyMode = &policyMode
	return r
}

func (r QueryAPIV1QueryResultsRequest) PolicyDecision(policyDecision string) QueryAPIV1QueryResultsRequest {
	r.policyDecision = &policyDecision
	return r
}

func (r QueryAPIV1QueryResultsRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1QueryResultsExecute(r)
}

/*
V1QueryResults GET /v1/query

Flexible historical query API for verification results across jobs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return QueryAPIV1QueryResultsRequest
*/
func (a *QueryAPIService) V1QueryResults(ctx context.Context) QueryAPIV1QueryResultsRequest {
	return QueryAPIV1QueryResultsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *QueryAPIService) V1QueryResultsExecute(r QueryAPIV1QueryResultsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QueryAPIService.V1QueryResults")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	}
	if r.minScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_score", r.minScore, "form", "")
	}
	if r.maxScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_score", r.maxScore, "form", "")
	}
	if r.safeToSend != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "safe_to_send", r.safeToSend, "form", "")
	}
	if r.jobId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id", r.jobId, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.recommendationAction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recommendation_action", r.recommendationAction, "form", "")
	}
	if r.policyMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_mode", r.policyMode, "form", "")
	}
	if r.policyDecision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_decision", r.policyDecision, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Authorization"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
