/*
Reacher

### What is Reacher?  Reacher is a backend/API engine for email verification, list hygiene, suppressions, scheduled re-verification, and pipelines. The hosted dashboard is a separate product surface and is not part of this repository.

API version: 0.11.0
Contact: amaury@reacher.email
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reacher

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type EventsAPI interface {

	/*
	V1ListEvents GET /v1/events

	Returns a paginated, filterable audit log of all job events for the tenant.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EventsAPIV1ListEventsRequest
	*/
	V1ListEvents(ctx context.Context) EventsAPIV1ListEventsRequest

	// V1ListEventsExecute executes the request
	V1ListEventsExecute(r EventsAPIV1ListEventsRequest) (*http.Response, error)
}

// EventsAPIService EventsAPI service
type EventsAPIService service

type EventsAPIV1ListEventsRequest struct {
	ctx context.Context
	ApiService EventsAPI
	limit *int64
	offset *int64
	eventType *string
	actor *string
	jobId *int32
	since *string
	until *string
}

func (r EventsAPIV1ListEventsRequest) Limit(limit int64) EventsAPIV1ListEventsRequest {
	r.limit = &limit
	return r
}

func (r EventsAPIV1ListEventsRequest) Offset(offset int64) EventsAPIV1ListEventsRequest {
	r.offset = &offset
	return r
}

func (r EventsAPIV1ListEventsRequest) EventType(eventType string) EventsAPIV1ListEventsRequest {
	r.eventType = &eventType
	return r
}

func (r EventsAPIV1ListEventsRequest) Actor(actor string) EventsAPIV1ListEventsRequest {
	r.actor = &actor
	return r
}

func (r EventsAPIV1ListEventsRequest) JobId(jobId int32) EventsAPIV1ListEventsRequest {
	r.jobId = &jobId
	return r
}

func (r EventsAPIV1ListEventsRequest) Since(since string) EventsAPIV1ListEventsRequest {
	r.since = &since
	return r
}

func (r EventsAPIV1ListEventsRequest) Until(until string) EventsAPIV1ListEventsRequest {
	r.until = &until
	return r
}

func (r EventsAPIV1ListEventsRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1ListEventsExecute(r)
}

/*
V1ListEvents GET /v1/events

Returns a paginated, filterable audit log of all job events for the tenant.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return EventsAPIV1ListEventsRequest
*/
func (a *EventsAPIService) V1ListEvents(ctx context.Context) EventsAPIV1ListEventsRequest {
	return EventsAPIV1ListEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *EventsAPIService) V1ListEventsExecute(r EventsAPIV1ListEventsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.V1ListEvents")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.eventType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event_type", r.eventType, "form", "")
	}
	if r.actor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actor", r.actor, "form", "")
	}
	if r.jobId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id", r.jobId, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Authorization"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
