/*
Reacher

### What is Reacher?  Reacher is a backend/API engine for email verification, list hygiene, suppressions, scheduled re-verification, and pipelines. The hosted dashboard is a separate product surface and is not part of this repository.

API version: 0.11.0
Contact: amaury@reacher.email
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reacher

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


type OutcomesAPI interface {

	/*
	V1ListOutcomes Method for V1ListOutcomes

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return OutcomesAPIV1ListOutcomesRequest
	*/
	V1ListOutcomes(ctx context.Context) OutcomesAPIV1ListOutcomesRequest

	// V1ListOutcomesExecute executes the request
	//  @return OutcomeListResponse
	V1ListOutcomesExecute(r OutcomesAPIV1ListOutcomesRequest) (*OutcomeListResponse, *http.Response, error)

	/*
	V1PostOutcomes Method for V1PostOutcomes

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return OutcomesAPIV1PostOutcomesRequest
	*/
	V1PostOutcomes(ctx context.Context) OutcomesAPIV1PostOutcomesRequest

	// V1PostOutcomesExecute executes the request
	//  @return IngestOutcomesResponse
	V1PostOutcomesExecute(r OutcomesAPIV1PostOutcomesRequest) (*IngestOutcomesResponse, *http.Response, error)

	/*
	V1UploadOutcomes Method for V1UploadOutcomes

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return OutcomesAPIV1UploadOutcomesRequest
	*/
	V1UploadOutcomes(ctx context.Context) OutcomesAPIV1UploadOutcomesRequest

	// V1UploadOutcomesExecute executes the request
	//  @return IngestOutcomesResponse
	V1UploadOutcomesExecute(r OutcomesAPIV1UploadOutcomesRequest) (*IngestOutcomesResponse, *http.Response, error)
}

// OutcomesAPIService OutcomesAPI service
type OutcomesAPIService service

type OutcomesAPIV1ListOutcomesRequest struct {
	ctx context.Context
	ApiService OutcomesAPI
	email *string
	source *string
	type_ *string
	since *time.Time
	limit *int64
	offset *int64
}

func (r OutcomesAPIV1ListOutcomesRequest) Email(email string) OutcomesAPIV1ListOutcomesRequest {
	r.email = &email
	return r
}

func (r OutcomesAPIV1ListOutcomesRequest) Source(source string) OutcomesAPIV1ListOutcomesRequest {
	r.source = &source
	return r
}

func (r OutcomesAPIV1ListOutcomesRequest) Type_(type_ string) OutcomesAPIV1ListOutcomesRequest {
	r.type_ = &type_
	return r
}

func (r OutcomesAPIV1ListOutcomesRequest) Since(since time.Time) OutcomesAPIV1ListOutcomesRequest {
	r.since = &since
	return r
}

func (r OutcomesAPIV1ListOutcomesRequest) Limit(limit int64) OutcomesAPIV1ListOutcomesRequest {
	r.limit = &limit
	return r
}

func (r OutcomesAPIV1ListOutcomesRequest) Offset(offset int64) OutcomesAPIV1ListOutcomesRequest {
	r.offset = &offset
	return r
}

func (r OutcomesAPIV1ListOutcomesRequest) Execute() (*OutcomeListResponse, *http.Response, error) {
	return r.ApiService.V1ListOutcomesExecute(r)
}

/*
V1ListOutcomes Method for V1ListOutcomes

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OutcomesAPIV1ListOutcomesRequest
*/
func (a *OutcomesAPIService) V1ListOutcomes(ctx context.Context) OutcomesAPIV1ListOutcomesRequest {
	return OutcomesAPIV1ListOutcomesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OutcomeListResponse
func (a *OutcomesAPIService) V1ListOutcomesExecute(r OutcomesAPIV1ListOutcomesRequest) (*OutcomeListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OutcomeListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OutcomesAPIService.V1ListOutcomes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/outcomes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Authorization"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OutcomesAPIV1PostOutcomesRequest struct {
	ctx context.Context
	ApiService OutcomesAPI
	ingestOutcomesRequest *IngestOutcomesRequest
}

func (r OutcomesAPIV1PostOutcomesRequest) IngestOutcomesRequest(ingestOutcomesRequest IngestOutcomesRequest) OutcomesAPIV1PostOutcomesRequest {
	r.ingestOutcomesRequest = &ingestOutcomesRequest
	return r
}

func (r OutcomesAPIV1PostOutcomesRequest) Execute() (*IngestOutcomesResponse, *http.Response, error) {
	return r.ApiService.V1PostOutcomesExecute(r)
}

/*
V1PostOutcomes Method for V1PostOutcomes

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OutcomesAPIV1PostOutcomesRequest
*/
func (a *OutcomesAPIService) V1PostOutcomes(ctx context.Context) OutcomesAPIV1PostOutcomesRequest {
	return OutcomesAPIV1PostOutcomesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IngestOutcomesResponse
func (a *OutcomesAPIService) V1PostOutcomesExecute(r OutcomesAPIV1PostOutcomesRequest) (*IngestOutcomesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IngestOutcomesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OutcomesAPIService.V1PostOutcomes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/outcomes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ingestOutcomesRequest == nil {
		return localVarReturnValue, nil, reportError("ingestOutcomesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ingestOutcomesRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Authorization"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OutcomesAPIV1UploadOutcomesRequest struct {
	ctx context.Context
	ApiService OutcomesAPI
}

func (r OutcomesAPIV1UploadOutcomesRequest) Execute() (*IngestOutcomesResponse, *http.Response, error) {
	return r.ApiService.V1UploadOutcomesExecute(r)
}

/*
V1UploadOutcomes Method for V1UploadOutcomes

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OutcomesAPIV1UploadOutcomesRequest
*/
func (a *OutcomesAPIService) V1UploadOutcomes(ctx context.Context) OutcomesAPIV1UploadOutcomesRequest {
	return OutcomesAPIV1UploadOutcomesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IngestOutcomesResponse
func (a *OutcomesAPIService) V1UploadOutcomesExecute(r OutcomesAPIV1UploadOutcomesRequest) (*IngestOutcomesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IngestOutcomesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OutcomesAPIService.V1UploadOutcomes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/outcomes/upload"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Authorization"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
